extends layout

block content
	form(method="post")
		label(for="email") Email
		br
		input(type="text", name="email")
		br
		label(for="password") Password
		br
		input(type="password", name="password")
		br
		input(type="submit", value="Submit")